<div class="roomsContainer">
  <ace-editor
      #editor
      class="editor"
      [mode]="'javascript'" 
      (keyup)="onEditorChanges($event)">
  </ace-editor>
  <div class="chat">
    <div class="profile">
      {{userNickname}}
    </div>
    
    <ul 
        #messagesContainer
        class="messages">
      <li 
        class="message"
        [ngClass]="{'right': message.from !== userNickname}"
        *ngFor="let message of chatMessages" >
          <div [ngClass]="{'from': message.from === userNickname, 'messageContent': message.from !== userNickname}">
            {{ message.from === userNickname? message.from : message.message }}
          </div>
          <div [ngClass]="{'messageContent': message.from === userNickname, 'from': message.from !== userNickname}">
            {{message.from === userNickname? message.message : message.from }}
          </div>
      </li>
    </ul>
    <input 
        #message
        class="messageInput" 
        type="text"
        placeholder="Type message here..."
        (keyup.enter)="
          sendMessage(message.value);
          message.value = '';
        "/>
  </div>
  <div class="outputHeader">
      <p class="outputLabel">Output :</p>
      <div
        (click)="runScript()"
        class="runButton">
        <i class="material-icons">rowing</i>
        <p>Run</p>
      </div>
  </div>
  <ace-editor
    #output
    [readOnly]="true"
    class="output">
  </ace-editor>
</div>
