<div class="roomsContainer">
  <ace-editor
      #editor
      class="editor"
      [mode]="'javascript'" 
      (keyup)="onEditorChanges($event)">
  </ace-editor>
  <div class="chat">
    <div class="profile">
      {{userNickname}}
    </div>
    
    <ul class="messages">
      <li *ngFor="let message of chatMessages">{{ message.from + ':' + message.message}}</li>
    </ul>
    <input 
        #message
        class="message" 
        type="text"
        placeholder="Type message here..."
        (keyup.enter)="
          sendMessage(message.value);
          message.value = '';
        "/>
  </div>
  <div
      class="outputHeader"
      (click)="runScript()">
      RUN
  </div>
  <ace-editor
    #output
    [readOnly]="true"
    class="output">
  </ace-editor>
</div>
