<div class="roomsContainer">
  <ace-editor
      #editor
      class="editor"
      [mode]="'javascript'" 
      (keyup)="onEditorChanges($event)">
  </ace-editor>
  <div class="chat">
    <div class="profile">
      {{userNickname}}
    </div>
    
    <ul class="messages">
      <li 
        class="message"
        [ngClass]="{'right': message.from !== userNickname}"
        *ngFor="let message of chatMessages" >
          <p class="from">{{message.from}}</p>
          <p class="messageContent">{{message.message}}</p>
      </li>
    </ul>
    <input 
        #message
        class="messageInput" 
        type="text"
        placeholder="Type message here..."
        (keyup.enter)="
          sendMessage(message.value);
          message.value = '';
        "/>
  </div>
  <div
      class="outputHeader"
      (click)="runScript()">
      RUN
  </div>
  <ace-editor
    #output
    [readOnly]="true"
    class="output">
  </ace-editor>
</div>
