@import '../shared/variables';

:host {
    flex-basis: 100%;
    max-height: 88%;
}

.roomsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;

    .editor {
        height: 70%;
        max-height: 70%;
        flex: 1 0 75%;
    }

    .chat {
        height: 70%;
        max-height: 70%;
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        
        .profile {
            flex: 1 0 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #272822;
            box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
            color: white;
        }

        .messages {
            flex: 1 0 84%;
            max-height: 84%;
            @include prototype();
            background: white;
            overflow-y: scroll;
            display: flex;
            overflow-wrap: break-word;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            .message {
                flex: 1 0 100%;
                display: flex;
                flex-direction: column;
                & .from {
                    margin: 5px;
                    color: gray;
                }
    
                & .messageContent {
                    padding: 3px 3px;
                    background: rgba(102, 217, 239, 0.70);
                    padding: 10px 10px;
                    word-break: break-all;
                    display: flex;
                    align-items: center;
                    order: 1;
                }

                &.right {
                    .from {
                        align-self: flex-end;
                    }
                }
            }
        }

        .messageInput {
            flex: 1 0 6%;
        }
    }

    .outputHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3%;
        color: white;
        background: #512DA8;
        padding: 1% 10px;
        & .runButton {
            border-left: 1px solid white;
            cursor: pointer;
            height: 100%; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .material-icons{
                font-size: 12px;
            }
        }
    }

    .output {
        width: 100%;
        height: 24.5%;
    }
}