@import '../shared/variables';

:host {
    flex-basis: 100%;
    max-height: 88%;
}

.roomsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;

    .editor {
        height: 70%;
        max-height: 70%;
        flex: 1 0 75%;
    }

    .chat {
        height: 70%;
        max-height: 70%;
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        
        .profile {
            flex: 1 0 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #272822;
            box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
            color: white;
        }

        .messages {
            flex: 1 0 82%;
            max-height: 82%;
            @include prototype();
            background: darkslateblue;
            overflow: auto;
            display: flex;
            padding: 1%;
            overflow-wrap: break-word;
            flex-direction: column;
            .message {
                flex: 1 0 5%;
                display: flex;
                max-height: 22px;
                margin: 10px 0px;
                color: white;
                max-width: 200px;
                flex-wrap: wrap;
                &:first-child {
                    margin-top: 10px;
                }

                & .from {
                    margin: 5px;
                }
    
                & .messageContent {
                    padding: 3px 3px;
                    margin: 0px 5px;
                    border-radius: 20px;
                    background: crimson;
                    padding: 15px 10px;
                    word-break: break-all;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .right {
                align-self: flex-end;
            }
        }

        .messageInput {
            flex: 1 0 6%;
        }
    }

    .outputHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3%;
        color: white;
        background: #512DA8;
        padding: 1% 10px;
        & .runButton {
            border-left: 1px solid white;
            cursor: pointer;
            height: 100%; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .material-icons{
                font-size: 12px;
            }
        }
    }

    .output {
        width: 100%;
        height: 24.5%;
    }
}