$main-font: 'Roboto', sans-serif;
$amatic-font: 'Amatic SC', cursive;

$search-placeholder: #757575;

@mixin inputs() {
	border: 0;
	&:focus{
		outline: none;
	}
	&::placeholder{ 
		color: $search-placeholder;
		text-indent: 5px;
		transition: text-indent 500ms cubic-bezier(.87,-.41,.19,1.441);
	}
	&:focus::placeholder{
		text-indent: -300px;
	}
}

@mixin prototype() {
	background: rgba(#558B2F, 0.3);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}