$main-font: 'Roboto', sans-serif;
$header-font: 'Amatic SC', cursive;

$search-placeholder: #757575;

@mixin inputs() {
	border: 0;
	&:focus{
		outline: none;
	}
	&::placeholder{ 
		color: $search-placeholder;
		text-indent: 5px;
		transition: text-indent 500ms cubic-bezier(.87,-.41,.19,1.441);
	}
	&:focus::placeholder{
		text-indent: -300px;
	}
}